# Application
APP_NAME=FlyRank Social Media Studio
APP_ENV=development


#PostgreSQL
POSTGRES_DB=social_media_studio
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_PORT=5432

DATABASE_URL=postgresql+asyncpg://postgres:your_password@localhost:5432/social_media_studio

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Celery
CELERY_BROKER_URL=redis://redis:6379/0


#timezone
TIMEZONE=Asia/Karachi


#Mistral
MISTRAL_API_KEY=your_mistral_api_key